body {
    background-color: white;
    background-image: url('login_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
h1 {
    color: whitesmoke;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 600%;
    text-align: center;
    margin-top: 300px;
    text-shadow: 2px 2px 4px rgb(78, 78, 78);
}